@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 15px;
}

.section-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.section-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    width: 100%;
    padding: 20px;
    height: 90px;
    z-index: 100;
}

.nav-item {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    display: inline-block;
    transition: ease-in-out 0.35s;
}

.nav-item:hover {
    color: #ffc997;
    transform: scale(1.1);
}

.nav-container {
    float: right;
}

.start-section {
     background: linear-gradient(#db7e7e, #ffc997);
    height: 100vh;
}

.start-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    z-index: 10;
}

.start-section-text {
    font-size: 90px;
    color: white;
    text-shadow: 10px 10px 0 #e06161;
}

.general-btn {
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 5px 30px;
    display: block;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 71px;
    margin: 15px auto;
    box-shadow: 10px 10px 0 #e06161;
}

.start-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.circle1 {
    position: absolute;
    left: -55px;
    top: -100px;
    animation-name: rotate-move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.circle2 {
    position: absolute;
    right: -40px;
    top: -40px;
    animation-name: move-left-down;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.circle3 {
    position: absolute;
    left: -50px;
    bottom: -30px;
    animation-name: move-up-left;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.circle-bordered {
    position: absolute;
    left: 250px;
    bottom: -30px;
    animation-name: move-up-left;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.circle-dashed-border {
    position: absolute;
    right: -100px;
    bottom: -180px;
    animation-name:  rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.triangle {
    position: absolute;
    left: 40%;
    top: 20%;
    animation-name: move-right;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.octagon {
    position: absolute;
    top: 65%;
    left: 50%;
    animation-name: rotate-move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.doing {
background: linear-gradient(7deg, #db7e7e 18.07%, #ffc997 70%, #ffffff 70%);
}

.doing-left {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.doing-right {
    width: 45%;
    display: inline-block;
}

.doing-right img {
    margin: 71px 0 0 15px;
    max-width: 300px;
}

.doing-title {
    margin-bottom: 30px
}

.doing-text {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    box-shadow: #e06161 10px 10px 0;
}

.services-card {
    background-color: white;
    border-radius: 30px;
    border: 4px solid #ffc997;
    width: 25%;
    height: 450px;
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

.services {
    text-align: center;
    background: linear-gradient(-12deg, white 0%, white 50%, #db7e7e 50%);
}

hr {
    width: 60%;
    display: inline-block;
    height: 4px;
    background-color: #e06161;
    margin: 10px
}

.services-title {
    color: white;
}

.advantages-card-title {
    font-size: 25px;
    margin-bottom: 15px;
}

.advantages-card {
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 10px 10px 0 #e06161;
    border: 5px solid #ffc997;
    border-radius: 15px;
    padding: 30px;
    z-index: 60;
    background: white;
}

.advantages-list {
    margin-left: 25px;
    list-style-type:  circle;
}

.adv-card1 {
    position: relative;
    left: -100px;
}

.adv-card2 {
    position: relative;
    left: 100px;
}

.adv-card3 {
    position: relative;
    left: -80px;
}

.advantages-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.advantages-content {
    z-index: 100;
}

.advantages {
    position: relative;
}

.advantages-circle {
    position: absolute;
     bottom: 0;
    right: 0;
}

.advantages-hexagon {
    position: sticky;
    top: 40%;
    left: 0;
}

.portfolio-table {
    width: 100%;
    height: 600px;
}

.cell1 {
    background-image: url(img/portfolio/site1.png);
}

.cell2 {
    background-image: url(img/portfolio/site2.png);
}

.cell3 {
    background-image: url(img/portfolio/site3.png);
}

.cell4 {
    background-image: url(img/portfolio/site4.png);
}

.portfolio-cell {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid #e06161;
    border-radius: 30px;
    transition: 0.5s ;
}

.portfolio-cell:hover {
    transform: scale(0.9);
}

.contact {
    background: linear-gradient(#db7e7e, #ffc997);
}

.contact-title {
    color: white;
}

@keyframes move-up-left {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(40px, 80px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(230%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate-move {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(80px, 200px) rotate(180deg);
    }
    100% {
        transform: translate(0, 0) rotate(359deg);
    }

}

@keyframes move-left-down {
     0% {
         transform: translate(0,0) rotate(0deg);
     }
    50% {
        transform: translate(-180px, 200px) rotate(180deg);
    }
    100% {
        transform: translate(0, 0) rotate(359deg);
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;
        height: fit-content;
    }

    .logo-link {
        height: 17vh;
        display: inline-block;
        line-height: 17vh;
    }

    .nav-item {
        display: block;
    }

    .start-section-text {
        font-size: 40px;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .general-btn {
        width: 150px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        margin-top: 40px;
        padding: 0;
    }

    .doing-left {
        display: block;
        width: 100%;
    }

    .doing-right {
        display: block;
        width: 100%;
    }

    .services-card {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .advantages-card {
        width: 100%;
    }

    .adv-card1 {
        position: static;
    }

    .adv-card2 {
        position: static;
    }

    .adv-card3 {
        position: static;
    }
}

