@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding: 100px 15px;
}

.section-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    width: 100%;
    padding: 20px;
    height: 90px;
    z-index: 20;
}

.nav-item {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    display: inline-block;
    transition: ease-in-out 0.35s;
}

.nav-item:hover {
    color: #ffc997;
    transform: scale(1.1);
}

.nav-container {
    float: right;
}

.start-section {
     background: linear-gradient(#db7e7e, #ffc997);
    height: 100vh;
}

.start-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    z-index: 10;
}

.start-section-text {
    font-size: 90px;
    color: white;
    text-shadow: 10px 10px 0 #e06161;
}

.start-section-btn {
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    height: 71px;
    width: 200px;
    display: block;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 71px;
    margin: 15px auto;
    box-shadow: 10px 10px 0 #e06161;
}

.start-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.circle1 {
    position: absolute;
    left: -55px;
    top: -100px;
}

.circle2 {
    position: absolute;
    right: -40px;
    top: -40px;
}

.circle3 {
    position: absolute;
    left: -50px;
    bottom: -30px;
}

.circle-bordered {
    position: absolute;
    left: 250px;
    bottom: -30px;
}

.circle-dashed-border {
    position: absolute;
    right: -100px;
    bottom: -180px;
}

.triangle {
    position: absolute;
    left: 40%;
    top: 20%;
}

.octagon {
    position: absolute;
    top: 65%;
    left: 50%;
}

